#Intellij
out/
.DS_Store
Ejemplo-1/.idea
Ejemplo-1/*.iml
Ejemplo-2/.idea
Ejemplo-2/*.iml
Ejemplo-3/.idea
Ejemplo-3/*.iml
Ejemplo-4/.idea
Ejemplo-4/*.iml
Ejmplo-5/.idea 
Ejmplo-5/*.iml
Ejemplo-6/.idea
Ejemplo-6/*.iml
Ejemplo-7/.idea
Ejemplo-7/*.iml
Ejemplo-8/.idea
Ejemplo-8/*.iml
Ejemplo-9/.idea
Ejemplo-9/*.iml
Ejemplo-10/.idea
Ejemplo-10/*.iml
Ejemplo-11/.idea
Ejemplo-11/*.iml
Ejemplo-12/.idea
Ejemplo-12/*.iml
Ejemplo-13/.idea
Ejemplo-13/*.iml
Ejemplo-14/.idea
Ejemplo-14/*.iml
Ejemplo-15/.idea
Ejemplo-15/*.iml
*.md
